.formgimp * {
  float: none;
  box-sizing: border-box;
  vertical-align: top;
}
.formgimp.controller {
  padding: 0 1rem 0 0;
}
.formgimp.toolbar {
  display: flex;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.formgimp.toolbar h3 {
  flex: 0 1 50%;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.formgimp.toolbar ul {
  margin: 0;
  display: flex;
  flex: 0 1 50%;
  justify-content: flex-end;
}
.formgimp.toolbar ul li {
  flex: 0 1 auto;
  margin: 0 3px;
}
.formgimp > .copyright {
  padding: 1rem 0;
  text-align: right;
}
.formgimp fieldset,
fieldset.formgimp {
  margin: 1rem 0;
  padding: 0;
  border: none;
}
.formgimp fieldset legend,
fieldset.formgimp legend {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0 0 1rem 0;
}
.formgimp fieldset form,
fieldset.formgimp form {
  display: block;
  margin: 0 auto;
}
.formgimp fieldset form:after,
fieldset.formgimp form:after {
  content: "";
  display: table;
  clear: both;
}
.formgimp fieldset .field,
fieldset.formgimp .field {
  margin: 0;
  padding: 0 0 8px 0;
  min-height: 36px;
}
.formgimp fieldset .field > label,
fieldset.formgimp .field > label {
  line-height: 24px;
  display: inline-block;
  width: 40%;
  min-width: 120px;
}
.formgimp fieldset .field select,
fieldset.formgimp .field select,
.formgimp fieldset .field textarea,
fieldset.formgimp .field textarea,
.formgimp fieldset .field input[type=text],
fieldset.formgimp .field input[type=text],
.formgimp fieldset .field input[type=file],
fieldset.formgimp .field input[type=file],
.formgimp fieldset .field input[type=password],
fieldset.formgimp .field input[type=password] {
  width: 56%;
  padding: 4px 8px;
  line-height: 16px;
  min-height: 24px;
  min-width: 120px;
  display: inline-block;
}
.formgimp fieldset .field.field-txtlbl,
fieldset.formgimp .field.field-txtlbl {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 30px 0 15px 0;
}
.formgimp fieldset .field.field-txtlbl label,
fieldset.formgimp .field.field-txtlbl label {
  width: 100%;
  font-weight: bold;
  font-size: 1.75em;
}
.formgimp fieldset .field.field-radio .options,
fieldset.formgimp .field.field-radio .options,
.formgimp fieldset .field.field-checkbox .options,
fieldset.formgimp .field.field-checkbox .options {
  display: inline-block;
  width: 56%;
}
.formgimp fieldset .field.field-radio .options > *,
fieldset.formgimp .field.field-radio .options > *,
.formgimp fieldset .field.field-checkbox .options > *,
fieldset.formgimp .field.field-checkbox .options > * {
  display: inline-block;
  padding: 0 8px 8px 0;
}
.formgimp fieldset .field-captcha,
fieldset.formgimp .field-captcha {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  padding: 20px;
}
.formgimp fieldset .field-captcha p,
fieldset.formgimp .field-captcha p {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.formgimp fieldset .field-captcha .imgcode,
fieldset.formgimp .field-captcha .imgcode {
  width: 100%;
  text-align: center;
}
.formgimp fieldset .field-captcha .imgcode img,
fieldset.formgimp .field-captcha .imgcode img {
  margin: 5px;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.formgimp fieldset .field-captcha .imgcode .btn,
fieldset.formgimp .field-captcha .imgcode .btn,
.formgimp fieldset .field-captcha .imgcode input[type=text],
fieldset.formgimp .field-captcha .imgcode input[type=text] {
  padding: 6px 12px;
  margin: 5px;
}
.formgimp fieldset .field-captcha .imgcode input[type=text],
fieldset.formgimp .field-captcha .imgcode input[type=text] {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5em;
  max-width: 240px;
}
.formgimp fieldset .submit,
fieldset.formgimp .submit {
  text-align: center;
}
.formgimp fieldset .submit input,
fieldset.formgimp .submit input {
  margin: 10px 0px;
}
.formgimp .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}
.formgimp .btn.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.formgimp .btn.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}
.formgimp .btn.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.formgimp .btn.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}
.formgimp .btn.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.formgimp .btn.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}
.formgimp .btn.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.formgimp .btn.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #eb9316;
}
.formgimp .btn.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.formgimp .btn.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}
.formgimp .btn-sm,
.formgimp .btn-group-sm > .btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.formgimp h1 {
  font-size: 18px;
  padding: 2px 0px 2px 0px;
  margin: 5px 0 10px 0;
  border-bottom: 2px solid #eee;
}
.formgimp .clr {
  clear: both;
}
.formgimp .message,
.formgimp.message,
.formgimp h1.error,
.formgimp h1.error_msg,
.formgimp h1.alert,
.formgimp h1.alert_msg,
.formgimp h1.empty,
.formgimp h1.empty_msg {
  text-align: left;
  margin: 1rem 0 2rem 0;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.formgimp .message.error,
.formgimp.message.error,
.formgimp h1.error,
.formgimp h1.error_msg {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.formgimp .message.empty,
.formgimp h1.empty {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.formgimp table.header {
  background: #1C3664;
  border-bottom: 2px solid #000;
}
.formgimp table.header tr td label {
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
}
.formgimp div.menu {
  padding: 0px 0px 0px 5px;
}
.formgimp div.menu,
.formgimp a.menu,
.formgimp a.menu:visited {
  color: #eee;
  font-weight: bold;
}
.formgimp table.adminform tr.colhead th {
  text-align: left;
  font-size: 14px;
  border-bottom: 2px solid #999;
}
.formgimp table.adminform tr td label {
  line-height: 28px;
}
.formgimp table.data {
  width: 100%;
}
.formgimp table.data tr th,
.formgimp table.data tr td {
  padding: 0.75rem;
}
.formgimp table.data tr td input.text {
  border: 1px solid #999;
  width: 200px;
}
.formgimp table.data th,
.formgimp table.data td {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0.2rem 0.4rem;
}
.formgimp table.data th:last-child,
.formgimp table.data td:last-child {
  border-right: none;
}
.formgimp table.data th {
  background: #ddd;
  text-align: left;
}
.formgimp table.data td {
  text-align: left;
  vertical-align: top;
}
.formgimp table.data tr td,
.formgimp table.data tr.row0 td {
  background: #ffffff;
}
.formgimp table.data tr.row1 td {
  background: #f6f6f6;
}
.formgimp table.data tbody tr td:last-child {
  border-right: 4px solid transparent;
}
.formgimp table.data tbody tr.archived td:last-child {
  border-right: 4px solid gray;
}
.formgimp table.data td a,
.formgimp table.data td a:visited {
  font-weight: bold;
  text-decoration: none;
}
.formgimp table.users tr th {
  background: none;
  border: none;
}
.formgimp table.users tr th tr td {
  vertical-align: middle;
  font-size: 12px;
  border: 0px;
  padding-bottom: 3px;
}
.formgimp table.users tr th tr td a,
.formgimp table.users tr th tr td a:visited {
  text-decoration: none;
}
.formgimp .attachments tr th,
.formgimp .attachments tr td {
  padding: 0.2rem 0.4rem;
}
.formgimp .attachments tr th a,
.formgimp .attachments tr td a,
.formgimp .attachments tr th a:visited,
.formgimp .attachments tr td a:visited {
  text-decoration: none;
}
.formgimp .attachments tr th pre.description,
.formgimp .attachments tr td pre.description {
  white-space: pre-wrap;
}
.formgimp div.fgtbar {
  padding: 5px;
  background: #ccc;
  border-bottom: 1px solid #777;
}
.formgimp div.fgtbar h3 {
  margin: 0px;
  padding: 0px;
  line-height: 22px;
}
.formgimp div.pagenav {
  text-align: center;
  padding: 0.5rem 0;
  line-height: 1.75rem;
  border-bottom: 1px solid #777;
  display: flex;
}
.formgimp div.pagenav .pagenav-pages {
  text-align: left;
  flex: 0 0 50%;
}
.formgimp div.pagenav .pagenav-filter {
  text-align: right;
  flex: 0 0 50%;
}
.formgimp div.pagenav a,
.formgimp div.pagenav a:visited {
  padding: 0px 5px 0px 5px;
  border: 1px solid #000;
  text-decoration: none;
  margin: 0px 3px 0px 3px;
  background: #efefef;
}
.formgimp div.pagenav span {
  padding: 0px 5px 0px 5px;
  border: 1px solid #000;
  text-decoration: none;
  margin: 0px 3px 0px 3px;
  background: #bbbbbb;
}
.formgimp div.pagenav input,
.formgimp div.pagenav select {
  padding: 0.5rem;
  height: auto;
}
.formgimp .paramList .field {
  clear: left;
  padding: 5px;
}
.formgimp .paramList .field .options {
  margin: 0;
}
.formgimp .paramList .field .options dt {
  display: inline-block;
  padding-right: 5px;
}
.formgimp .paramList .field .options label {
  width: initial;
}
.formgimp .paramList .field label {
  float: left;
  width: 200px;
  line-height: 28px;
}
.formgimp .paramList .field label.hasTip {
  margin: 0 5px 10px 0;
  float: left;
  clear: both;
}
.formgimp .paramList .field fieldset {
  margin: 0;
  padding: 0;
}
.formgimp .paramList .field fieldset label {
  width: auto;
  padding: 0 10px 0 5px;
}
.formgimp .paramList .field fieldset input,
.formgimp .paramList .field fieldset select {
  margin: 0;
  float: left;
}
.formgimp .paramList .field fieldset input[type=radio] {
  margin: 5px 0 0 0;
}
.formgimp table.adminlist {
  width: 100%;
}
.formgimp table.adminlist tr th {
  padding: 4px;
  text-align: left;
  background: #ddd;
}
.formgimp table.adminlist tr td {
  border-collapse: collapse;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}
.formgimp table.adminlist tr td input,
.formgimp table.adminlist tr td select {
  margin: 2px;
}
.formgimp table.adminlist tr:nth-child(even) td {
  background: #efefef;
}
.formgimp div.sampleForm > div {
  padding: 1rem;
  background: #ffffff;
}
.formgimp table.wbsortable tr td {
  padding: 4px;
  vertical-align: top;
}
.formgimp table.wbsortable .field-text,
.formgimp table.wbsortable .field-select,
.formgimp table.wbsortable .field-textarea {
  padding: 4px 4px 0 4px;
}
.formgimp table.wbsortable .field-text input {
  width: 90%;
  padding: 4px;
}
.formgimp table.wbsortable .field-select select {
  padding: 4px;
}
.formgimp table.wbsortable .field-textarea textarea {
  width: 96%;
  min-height: 80px;
  padding: 4px;
}
.formgimp table.wbsortable td.control {
  padding: 6px;
}
.formgimp table.wbsortable td.control.bottom button {
  margin: 10px;
}
.formgimp table.wbsortable tr.label-type td {
  background: #CCCCCC !important;
}
