
.formgimp {

  * {
    float: none;
    box-sizing: border-box;
    vertical-align: top;
  }

  &.controller {
    padding: 0 1rem 0 0;
  }

  &.toolbar {
    display: flex;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    h3 {
      flex: 0 1 50%;
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
    ul {
      margin: 0;
      display: flex;
      flex: 0 1 50%;
      justify-content: flex-end;
      li {
        flex: 0 1 auto;
        margin: 0 3px;
      }
    }
  }

  > .copyright {
    padding: 1rem 0;
    text-align: right;
  }

  fieldset,
  fieldset& {
    margin: 1rem 0;
    padding: 0;
    border: none;

    legend {
      font-weight: bold;
      font-size: 1.5em;
      padding: 0 0 1rem 0;
    }

    form {
      display: block;
      margin: 0 auto;
      &:after {
        content:"";
        display:table;
        clear:both;
      }
    }

    .field {
      margin: 0;
      padding: 0 0 8px 0;
      min-height: 36px;

      // Radio, Checkbox have multiple labels in dt list
      > label {
        line-height: 24px;
        display: inline-block;
        width: 40%;
        min-width: 120px;
      }

      select,
      textarea,
      input[type=text],
      input[type=file],
      input[type=password] {
        width: 56%;
        padding: 4px 8px;
        line-height: 16px;
        min-height: 24px;
        min-width: 120px;
        display: inline-block;
      }

      &.hasfocus {}
      &.editing {}
      &.invalid {}
      &.isvalid {}
      &.default {}

      &.field-txtlbl {
        clear: both;
        width: 100%;
        margin: 0;
        padding: 30px 0 15px 0;
        label {
          width: 100%;
          font-weight: bold;
          font-size: 1.75em;
        }
      }

      &.field-radio,
      &.field-checkbox {
        .options {
          display: inline-block;
          width: 56%;
          > * {
            display: inline-block;
            padding: 0 8px 8px 0;
            label {
              input {
              }
              span {
              }
            }
          }
        }
      }

    }

    .field-captcha {
      width: 100%;
      text-align: center;
      border-radius: 5px;
      background: rgba(0,0,0,0.15);
      margin: 20px auto;
      padding: 20px;
      p {
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      .imgcode {
        width: 100%;
        text-align: center;
        img {
          margin: 5px;
          border: 2px solid rgba(0,0,0,0.25);
        }
        .btn,
        input[type=text] {
          padding: 6px 12px;
          margin: 5px;
        }
        input[type=text] {
          display: inline-block;
          text-transform: uppercase;
          font-size: 1.5em;
          max-width: 240px;
        }
      }
    }

    .submit {
      text-align: center;
      input {
        margin: 10px 0px;
      }
    }

  }

  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
    &.btn-info {
      color: #fff;
      background-color: #5bc0de;
      border-color: #5bc0de;
      &:hover {
        color: #fff;
        background-color: #31b0d5;
        border-color: #2aabd2;
      }
    }
    &.btn-success {
      color: #fff;
      background-color: #5cb85c;
      border-color: #5cb85c;
      &:hover {
        color: #fff;
        background-color: #449d44;
        border-color: #419641;
      }
    }
    &.btn-primary {
      color: #fff;
      background-color: #0275d8;
      border-color: #0275d8;
      &:hover {
        color: #fff;
        background-color: #025aa5;
        border-color: #01549b;
      }
    }
    &.btn-warning {
      color: #fff;
      background-color: #f0ad4e;
      border-color: #f0ad4e;
      &:hover {
        color: #fff;
        background-color: #ec971f;
        border-color: #eb9316;
      }
    }
    &.btn-danger {
      color: #fff;
      background-color: #d9534f;
      border-color: #d9534f;
      &:hover {
        color: #fff;
        background-color: #c9302c;
        border-color: #c12e2a;
      }
    }
  }
  .btn-sm,
  .btn-group-sm > .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
  }

  h1 {
    font-size: 18px;
    padding: 2px 0px 2px 0px;
    margin: 5px 0 10px 0;
    border-bottom: 2px solid #eee;
  }

  .clr {
    clear: both;
  }

  .message,
  &.message,
  h1.error,
  h1.error_msg,
  h1.alert,
  h1.alert_msg,
  h1.empty,
  h1.empty_msg {
    text-align: left;
    margin: 1rem 0 2rem 0;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .message.error,
  &.message.error,
  h1.error,
  h1.error_msg {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .message.empty,
  h1.empty {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  table.header {
    background:#1C3664;
    border-bottom: 2px solid #000;
    tr td label {
      font-size: 11px;
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  div.menu {
    padding: 0px 0px 0px 5px;
  }
  div.menu,
  a.menu,
  a.menu:visited {
    color: #eee;
    font-weight: bold;
  }

  table.adminform {
    tr.colhead th {
      text-align: left;
      font-size:14px;
      border-bottom:2px solid #999;
    }
    tr td label {
      line-height: 28px;
    }
  }

  table.data {
    width: 100%;
    tr th,
    tr td {
      padding: .75rem;
    }
    tr td input.text {
      border: 1px solid #999;
      width: 200px;
    }
    th, td {
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 0.2rem 0.4rem;
    }
    th:last-child, td:last-child {
      border-right: none;
    }
    th {
      background: #ddd;
      text-align: left;
    }
    td {
      text-align: left;
      vertical-align: top;
    }
    tr td,
    tr.row0 td {
      background: #ffffff;
    }
    tr.row1 td {
      background: #f6f6f6;
    }
    tbody {
      tr {
        td:last-child {
          border-right: 4px solid transparent;
        }
      }
      tr.archived {
        td:last-child {
          border-right: 4px solid gray;
        }
      }
    }
    td a,
    td a:visited {
      font-weight: bold;
      text-decoration: none;
    }
  }

  table.users tr th {
    background: none;
    border: none;
    tr td {
      vertical-align: middle;
      font-size: 12px;
      border: 0px;
      padding-bottom: 3px;
    }
    tr td a,
    tr td a:visited {
      text-decoration: none;
    }
  }

  .attachments {
    tr {
      th,
      td {
        padding: .2rem .4rem;
        a,
        a:visited {
          text-decoration: none;
        }
        pre.description {
          white-space:pre-wrap;
        }
      }
    }
  }

  div.fgtbar {
    padding: 5px;
    background: #ccc;
    border-bottom: 1px solid #777;
    h3 {
      margin:0px;
      padding:0px;
      line-height:22px;
    }
  }

  div.pagenav {
    text-align: center;
    padding: .5rem 0;
    line-height: 1.75rem;
    border-bottom: 1px solid #777;
    display: flex;
    .pagenav-pages {
      text-align: left;
      flex: 0 0 50%;
    }
    .pagenav-filter {
      text-align: right;
      flex: 0 0 50%;
    }
    a,
    a:visited {
      padding: 0px 5px 0px 5px;
      border: 1px solid #000;
      text-decoration: none;
      margin: 0px 3px 0px 3px;
      background: #efefef;
    }
    span {
      padding: 0px 5px 0px 5px;
      border: 1px solid #000;
      text-decoration: none;
      margin: 0px 3px 0px 3px;
      background: #bbbbbb;
    }
    input,
    select {
      padding: .5rem;
      height: auto;
    }
  }

  .paramList {
    .field {
      clear: left;
      padding: 5px;
      .options {
        margin: 0;
        dt {
          display: inline-block;
          padding-right: 5px;
        }
        label {
          width: initial;
        }
      }
      label {
        float: left;
        width: 200px;
        line-height: 28px;
        &.hasTip {
          margin:0 5px 10px 0;
          float:left;
          clear:both;
        }
      }
      fieldset {
        margin: 0;
        padding: 0;
        label {
          width: auto;
          padding: 0 10px 0 5px;
        }
        input,
        select {
          margin: 0;
          float:left;
        }
        input[type=radio] {
          margin: 5px 0 0 0;
        }
      }
    }
  }

  table.adminlist {
    width: 100%;
    tr th {
      padding: 4px;
      text-align: left;
      background: #ddd;
    }
    tr td {
      border-collapse: collapse;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 4px;
    }
    tr td input,
    tr td select {
      margin: 2px;
    }
    tr:nth-child(even) td {
      background:#efefef;
    }
  }

  div.sampleForm {
    > div {
      padding: 1rem;
      background:#ffffff;
    }
  }

  table.wbsortable {
    tr td {
      padding:4px;
      vertical-align: top;
    }
    .field-text,
    .field-select,
    .field-textarea {
      padding:4px 4px 0 4px;
    }
    .field-text input {
      width:90%;
      padding:4px;
    }
    .field-select select {
      padding:4px;
    }
    .field-textarea textarea {
      width:96%;
      min-height:80px;
      padding:4px;
    }
    td.control {
      padding:6px;
    }
    td.control.bottom button {
      margin:10px;
    }
    tr.label-type td {
      background:#CCCCCC!important;
    }
  }

}
